.manageReviews {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    max-width: 1424px;
    margin: auto;
    padding: 2em 4em 2em 4em;
    min-height: 53em;
}

#reviewHeader {
    padding-bottom: 1.6em;
}
