#date {
    display: flex;
    gap: 10px;
    color: rgba(150, 150, 150, 0.801);
}

.reviewTile {
    display: flex;
    flex-direction: column;
    gap: .2em;
}

#editDeleteReview {
    border-radius: none;
    border: 1px solid black;
    width: 65px;
    background-color: rgb(88, 88, 88);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px 1px grey;
    margin-top: .5em;
}

#manageReviewButtons {
    display: flex;
    gap: 1em;
}
