* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

li {
    text-decoration: none;
}

#cost {
    display: flex;
    gap: 5px;
    align-items: center;
}

#createReview {
    padding: 5px;
    width: 9em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    color: white;
    border: 1px rgba(0, 0, 0, 0.336) solid;
    background-color: rgb(88, 88, 88);
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px grey;
}

#desc {
    overflow-wrap: break-word;
}

#location {
    padding: 1em 0 1em 0;
}

#name {
    padding-bottom: .5em;
}


#prevImg {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#img1 {
    border-top-right-radius: 20px;
}

#img3 {
    border-bottom-right-radius: 20px;
}

#reserve {
    width: 100%;
    background-color: rgba(255, 56, 96, 1);
    border: 1px solid black;
    box-shadow: 2px 2px 4px 1px grey;
    height: 3em;
    font-family: 'Urbanist', sans-serif;
    align-self: center;
    color: white;
    cursor: pointer;
    font-size: medium;
}

#revInfoBox{
    display: flex;
}

.allImages {
    display: flex;
    width: 100%;
    height: 25em;
    margin-bottom: 1em;
}

.fa-circle {
    scale: 20%;
}

.noRevs {
    display: flex;
}

.reviewCards {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.leftSpotData {
    width: 65%;
    padding-right: 2.5em;
}

.prevImage {
    width: 50%;
    height: 25em;
    padding-right: .5em;
}

.reserveButton {
    width: 95%;
}

.review {
    display: flex;
    gap: 5px;
}

.reviewData {
    display: flex;
    padding-bottom: 1em;
}

.rightSpotData {
    padding: 1.6em;
    width: 35%;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 8em;
}

.rightData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 1em;
}

.spot {
    padding: 1em;
    max-width: 1000px;
    justify-self: center;
    margin: auto;
}

.spotData {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.starRating {
    display: flex;
}

.tileImg {
    margin-right: .5em;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(211, 211, 211, 0.541);
}

.tileImages {
    width: 50%;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 49% 49%;
    height: 25em;
    gap: .5em;
}
