* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#cardSection{
    display: flex;
    justify-self: center;
    align-self: center;
    max-width: 1424px;
    margin: auto;
}

.cards {
    width: 100%;
    padding: 2em 4em 3em 4em;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 2em;
    max-width: 1424px;
    margin: auto;
}
