li {
    font-family: 'Urbanist', sans-serif;
}

.buttonDiv {
    display: flex;
    flex-direction: column;
}

.fa-user-circle {
    scale: 200%;
    position: relative;
    top: 2px;
}

.fa-bars {
    scale: 120%;
    position: relative;
    top: 2px;
}

.hidden {
    display: none
}

.profile-dropdownshow {
    top: 3.7em;
    background-color: white;
    box-shadow: 0px -1px 3px 3px rgba(211, 211, 211, 0.377);
    border: 1 solid red;
    padding: 1.5em 1em 1.5em 1em;
    border-radius: 10px;
    position: fixed;
    right: 3em;
    width: 14em;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

.signupBold {
    font-weight: 550;
}

.userButton {
    display: flex;
    gap: 1.3em;
    align-items: center;
    justify-content: right;
    padding-right: .8em;
    color: rgb(88, 88, 88);
    border: 1px rgba(211, 211, 211, 0.541) solid;
    width: 6em;
    height: 3em;
    border-radius: 4em;
    background-color: white;
}
